@use '@angular/material' as mat;
.cardContent{
    @include mat.button-overrides((
        text-container-shape: 20px,
    ));
}

.low{--mat-progress-bar-active-indicator-color: var(--red); color: var(--red);}
.high{--mat-progress-bar-active-indicator-color: var(--principal-color); color: var(--principal-color);}

.box{
    width: 100%;
}

.name{
    gap: 10px;
    img{
        height: auto;
        width: 50px;
    }
}