@use '@angular/material' as mat;
.cardContent{
    @include mat.button-overrides((
        text-container-shape: 20px,
    ));
}

.low{--mat-progress-bar-active-indicator-color: var(--red);}
.high{--mat-progress-bar-active-indicator-color: var(--green);}

.box{
    width: 100%;
}