:host{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box:not(.transaction-list){
    width: 100vw;
    height: calc(100vh - 174px);
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.transaction-list{
    display: block;
    overflow: auto;
    padding: 5px;
    border: solid 5px var(--gray-transaction);
    height: 60vh;
    background-color: var(--gray-transaction);
    align-self: flex-end;
    margin: 0;
    width: 100%;
}

.value{
    background-color: var(--input-area);
    border-radius: 5px;
    height: 40px;
    min-width: 120px;
    display: flex;
    flex-flow: column wrap;
    padding: 5px;
    
    h1{
        font-size: large;
        margin: 0;
    }
    h2{
        font-size: medium;
        margin: 0;
    }
    
    mat-icon{
        font-size: 40px;
        height: 40px;
        width: 40px;
        align-self: end;
    }
}
.gains{
    & h2{
        color: var(--principal-color);
    }
}
.losts{
    & h2{
        color: var(--red);
    }    
}

.all:not(month-selector), .revenue:not(month-selector), .expense:not(month-selector){
    background-color: var(--type);
}

.all{
    --type: var(--white);;
}
    
.revenue{
    --type: var(--principal-color);
}

.expense{
    --type: var(--red);
}