:host{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.transaction-list{
    overflow: auto;
    padding: 5px;
    border: solid 5px var(--gray-transaction);
    max-height: 50vh;
    &::-webkit-scrollbar{
        background: #0000;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #424242;
        &:hover{
            background: #626262;
        }
    }
    background-color: var(--gray-transaction);
}

.small-box{
    background-color: var(--input-area);
    border-radius: 5px;
    height: 40px;
    min-width: 120px;
    display: flex;
    flex-flow: column wrap;
    margin: 20px 6px;
    
    h1{
        font-size: large;
        margin: 0;
    }
    h2{
        font-size: medium;
    }
    
    mat-icon{
        font-size: 40px;
        height: 40px;
        width: 40px;
        align-self: end;
    }
}
.gains{
    & h2{
        color: var(--principal-color);
    }
}
.losts{
    & h2{
        color: var(--red);
    }    
}

.all{
    background-color: var(--white);
    --type: var(--white);
}

.revenue{
    background-color: var(--principal-color);
    --type: var(--principal-color);
}

.expense{
    background-color: var(--red);
    --type: var(--red);
}