<div class="charts-container">
  <!-- Gráfico Receita vs Despesa -->
  <div class="chart">
    <canvas baseChart
      [data]="{
    labels: ['Receitas', 'Despesas'],
    datasets: [{
      data: [this.sum(), this.sub()],
      backgroundColor: ['#9FF04C', '#E74C3C']
    }]
  }"
      [options]="chartOptions"
      [type]="'doughnut'">
    </canvas>
    <p>RECEITA X DESPESA</p>
  </div>

  <!-- Gráfico de Despesas por Categoria -->
  <div class="chart">
    <canvas baseChart
      [data]="{
      labels: this.categoriesNames(),
      datasets: [{
        data: this.simpleOutputSums(),
        backgroundColor: this.colors
      }]
      }"
      [options]="chartOptions"
      [type]="'doughnut'">
    </canvas>
    <p>DESPESAS POR CATEGORIA</p>
  </div>

</div>
