:host {
  width: calc(90vw + 20px);
}
.charts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  .chart {
    background-color: var(--gray-box);
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 10px -4px #000;

    canvas {
      padding: 10%;
      max-width: 100%;
    }

    p {
      color: white;
      margin-top: 0.5rem;
      font-weight: 600;
      justify-self: flex-start;
    }
  }
}
@media (orientation: portrait) {
  .charts-container {
    flex-direction: column;
    align-items: center;
    .chart{
      width: calc(100% - 2rem);
    }
  }
}

@media (orientation: landscape) {
  .charts-container {
    .chart{
      width: 25%;
      max-width: 33%;
    }
  }
}