@use '@angular/material' as mat;
.content{
  padding: 25px;
  flex-wrap: wrap;
}

::ng-deep .mat-mdc-select-panel{
  background-color: var(--grey-background) !important;
  overflow-x: hidden !important;
  
  &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: var(--input-area);
      &:hover{
          background: var(--input-area2);
      }
  }
}

::ng-deep .mat-mdc-option {
  color: var(--font-color) !important;

  background-color: var(--grey-background) !important;

  padding: 2px 10px !important;
  width: 100%;

  &:hover {
    background-color: var(--gray-form) !important;
  }
}

mat-select{
  background-color: transparent;
  position: relative;
  width: 50px;
  height: 40px;
  display: flex;
  z-index: 1;
}

.icon{
  top: 8px;
  right: 20px;
  position: absolute;
  z-index: 0;
}

.select-icon{
  background-color: var(--input-area);
  border-radius: 5px;
  padding: 0 4px;
  position: relative;
  width: auto;
}

::ng-deep .radios{
  display: flex;
  flex-direction: column;
  label{
    font-size: 20px;
  }
  margin-top: 20px;
}

.start{
  align-self: flex-start;
}

.input{
  margin-bottom: 20px;
}

::ng-deep .expenditure *{
  --mat-sys-primary: var(--red);
  --mat-sys-on-surface: var(--red);
}

::ng-deep .income *{
  --mat-sys-primary: var(--green);
  --mat-sys-on-surface: var(--green);
}

.divisao div{
  display: flex;
  flex-direction: column;
  position: relative;
}

.fake-color-picker{
  background-color: transparent;
  width: 30px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 4px;
  outline: 0;
  margin: 5px 5px;
  justify-self: center;
}

.color-box{
  background-color: var(--input-area);
  border-radius: 5px;
  padding: 0 4px;
  position: relative;
  width: 40px;
}

.color-picker{
  position: absolute;
  top: 10px;
  right: 0;
  visibility: hidden;
}