:host{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "name config"
        "achievements config"
    ;
    grid-template-columns: 50% 50%;
    padding: 0 5%;
    box-sizing: border-box;
    row-gap: 40px;
}
h1, h2, label{
    font-family: KoHo;
    font-weight: normal;
}

.account-name{
    grid-area: name;
    border-left: 5px solid var(--principal-color);
    display: flex;
    align-items: center;
    padding: 0 20px;
    > div {
        display: flex;
        align-items: center;
    }
    .account-photo{
        position: relative;
        .photo{
            height: 120px;
            width: 120px;
            font-size: 120px;
            color: var(--principal-color);
        }
        .edit{
            position: absolute;
            background-color: var(--white);
            border-radius: 5px;
            height: 30px;
            width: 30px;
            box-shadow: 0px 4px 10px 0px #000;
            mat-icon{
                color: var(--black);
                height: 20px;
                width: 20px;
                font-size: 20px;
            }
            bottom: 8px;
            right: 10px;
        }
    }
    h1{
        border-bottom: 3px solid var(--principal-color);
        margin: 0;
        flex-shrink: 2;
    }
    .typePlan{
        position: relative;
        top: 5px;
        margin-left: 20px;
        flex: none;
    }
}

.typePlan{
    background-color: var(--white);
    color: var(--black);
    padding: 0 10px;
    border-radius: 7px;
    &.premium{
        background-color: var(--green);
    }
}

.achievements{
    grid-area: achievements;
    > div{
        display: grid;
        padding-right: 40px;
        border-right: 5px solid var(--principal-color);
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        height: 500px;
        overflow-y: auto;
    }
    >section{
        display: flex;
        gap: 20px;
        
        >span{
            padding-top: 30px;
        }
    }
}

.account-config{
    grid-area: config;
    padding-left: 50px;
    .box{
        margin-bottom: 20px;
        box-shadow: 0 5px 10px -2px #000;
        background-color: var(--gray-box);
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        padding: 20px;
        label{
            font-size: 16px;
            margin: 0 0 10px 0;
        }
    }
}


.currency{
    select{
        background-color: transparent;
        font-size: 20px;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid var(--white);
        margin-bottom: 10px;
        appearance: base-select;
        option{
            background-color: var(--input-area);
            &:checked{background-color: var(--input-area2);}
            &:hover{background-color: var(--green);color: var(--black);}
            &::checkmark{display: none;}
        }
        &::picker(select){
            appearance: base-select;
            border-radius: 0 0 10px 10px;
            border: none;
            box-shadow: 0 2px 10px -2px #000;
            background-color: transparent;
        }
        &::picker-icon{
            display: none;
        }
    }
}

.plan{
    > div{
        display: flex;
        align-items: center;
        column-gap: 10px;
        mat-icon{
            height: 90px;
            width: 90px;
            font-size: 90px;
            color: var(--gray);
            flex-shrink: 0;
            &.premium{
                color: var(--principal-color) !important;
            }
        }
        div{
            flex-basis: 0;
            .typePlan{
                font-size: 12px;
            }
        }
        p{
            color: var(--gray-font);
            span{
                color: var(--principal-color);
            }
        }
    }
    button{
        --color: var(--principal-color);
        --mat-button-text-label-text-weight: normal;
        width: 180px;
        background-color: var(--gray-form);
        border-radius: 10px;
        font-size: 18px;
        mat-icon{
            height: 24px;
            width: 24px;
            font-size: 24px;
        }
    }
}

@media (max-width: 1400px) {
    .achievements > div{
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1000px) {
    :host{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "name"
        "achievements"
        "config"
        ;
    }
    
    .achievements > div{
        grid-template-columns: 1fr 1fr;
    }
    .account-config{ padding-left: 0;}

}

@media (max-width: 700px) {
    .achievements > div{
        grid-template-columns: 1fr;
        padding: 0;
        border: 0;
    }
    .account-name{
        padding: 0;
        flex-wrap: wrap;
        .typePlan{
            margin-left: 20px;
        }
    }
    h1{font-size: 25px;}

}

@media (max-width: 500px) {
    .plan > div{
        flex-wrap: wrap;
        p{margin: 0 0 10px 0;}
    }
}