:host{
  display: flex;
  justify-content: end;
  font-family: KoHo !important;
}

.esqueci{
  align-self: flex-end;
  font-family: Contrail-One;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 0;
  &:hover{
      text-decoration: underline;
  }
}
.google{
  position: relative;
  background-color: var(--grey-background);
  font-size: 20px;
  padding: 10px 20px;
  font-family: 'KoHo', sans-serif;
  font-size: 31px;
  border-radius: 8px;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  z-index: 0;
  img{
    height: 35px;
  }
  &::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 8px;
  background: linear-gradient(to right, #4285F4 0%, #DB4437 38%, #F4B400 71%, #0F9D58 100%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: -1;
}
}

.input:not(input){
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  .input{width: 100%;}
}
.pass{
  position: absolute;
  padding: 0 5px;
}

.sign{
  width: 30%;
  height: 100%;
  align-self: end;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding: 10%;
}

.logo{width: 85px;}