<!-- login.component.html -->
<div #container class="dots array-container">
  @for (row of rows; track $index) {
    <div class="row">
      @for (col of cols; track $index) {
        <div class="element"></div>
      }
    </div>
  }
</div>
<form name="form" (ngSubmit)="onSubmit()" class="sign">
  <img src="favicon.ico" class="logo"/>
  <h1>LOGIN</h1>
  <label for="email">EMAIL</label>
  <input type="email" id="email" name="email" [(ngModel)]="email" required email class="input" placeholder="emailexemplo@gmail.com"/>
  <label for="password">SENHA</label>
  <div class="input">
  <input matInput type="password" name="password" id="password" [(ngModel)]="password" [type]="showPassword ? 'password' : 'text'" class="input" placeholder="senhaexemplo123">
    <mat-icon class="pass" (click)="togglePassword()" matSuffix>
    @if(showPassword){
      lock
    }
    @else{
      lock_open
    }
    </mat-icon>
  </div>
  <a href="https://www.google.com" class="esqueci">esqueci minha senha</a>
  <button [disabled]="!isFormValid()" type="submit" class="button">Entrar</button>
  <button class="google" (click)="this.authService.loginWithGoogle()"><img src="google.svg" alt="login com google">Fazer Login com o Google</button>
  <p class="link"> Não tem conta? Crie uma <a (click)="goTo('signin')">AQUI</a></p>
</form>
<div class="grid array-container"></div>