:host{
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.button{
    color: black;
    width: 120px;
    padding: 10px 0px;
}

.buttons{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.deposit{
    background-color: #cbd957;
}

.transfer{
    background-color: #f31c1c;
}

.add{
    background-color: rgb(5, 138, 247);
}

.box{
    margin-bottom: auto;
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.currency{
    margin-bottom: 20px;
    height: 85px;
    width: 100%;
    border-left: 5px solid var(--white);
    padding: 0 0 0 5px;
    display: flex;
    flex-flow: column wrap;

    h2{
        margin: 0
    }

    mat-icon{
        background-color: #38b6ff;
        border-radius: 5px;
        padding: 10px;
        font-size: 60px;
        height: 60px;
        width: 60px;
        align-self: end;
    }
}
.gains, .losts{
    margin: 0;
    height: auto;
    width: 132px;

    .currency{
        margin: 0;
        height: auto;
    }

    h1{
        font-size: 24px;
        margin-top: 5px;
    }

    *{
        font-size: 20px;
        color: var(--white);
    }

    mat-icon{
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 0;
        background: 0;
    }
}

.gains{ 
    border-left: 5px solid var(--principal-color);
    mat-icon{
        color: var(--principal-color);
        rotate: -90deg;
    }
}

.losts{
    border-left: 5px solid var(--red);

    h2{
        display: flex;
    }

    mat-icon{
        color: var(--red);
        rotate: 90deg;
    }
}