:host{
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 20px;

    button{
        background-color: var(--grey-background);
        border: 2px solid currentColor;
        border-radius: 10px;
        width: 150px;
        height: 35px;
        padding: 10px 0px;

        :host-context(.dark) &{
            background-color: var(--gray-box);
        }
    }
}

.deposit{
    color: var(--green);
}

.transfer{
    color: var(--red);
}

.add{
    display: none;
    background-color: rgb(5, 138, 247);
}


.currency{--small-box-color: currentColor;}
.gains{--small-box-color: var(--green);}
.losts{--small-box-color: var(--red);}
.credit-card{--small-box-color: var(--blue);}

.flex{
    display: grid;
    container-name: grid;
    container-type: inline-size;
    grid-template-columns: repeat(4, 1fr);
    width: 90vw;
    justify-content: space-between;
    gap:2rem;
    margin-bottom: 20px;
}

@media (max-width: 900px){
    .flex{
        gap:1rem;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 600px){
    .flex{
        gap:0.5rem;
        grid-template-columns: 1fr;
    }
}

select{
    border: 0;
    width: 50%;
    min-width: 40%;
    flex-shrink: 0;
    appearance: base-select;
    background-color: var(--grey-background);
    font-size: 16px;
    option{
        background-color: var(--input-area);
        &:checked{background-color: var(--input-area2);}
        &:hover{background-color: var(--green);color: var(--black);}
        &::checkmark{display: none;}
    }
    &::picker(select){
        appearance: base-select;
        border-radius: 0 0 10px 10px;
        border: none;
        box-shadow: 0 2px 10px -2px #000;
        background-color: transparent;
    }
}