:host{
    height: 80%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.button{
    color: black;
    width: 120px;
    padding: 10px 0px;
}

.buttons{
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

.deposit{
    background-color: #4dc00a;
}

.transfer{
    background-color: #f31c1c;
}

.add{
    display: none;
    background-color: rgb(5, 138, 247);
}


.currency{--small-box-color: var(--white);}
.gains{--small-box-color: var(--principal-color);}
.losts{--small-box-color: var(--red);}
.credit-card{--small-box-color: var(--blue);}

.flex{
    display: flex;
    width: calc(90vw + 20px);
    justify-content: space-between;
    margin-bottom: 20px;
}