@use '@angular/material' as mat;
:host{
    width: 100%;
    --componentColor: var(--type, var(--green))
}
.month-selector{
    background-color: #0000;
    width: 100%;
    display: flex;
    justify-content: center;
    --color: var(--black);
    .mini-box{
        background-color: var(--componentColor);
        border: 1px solid var(--type1);
    }
    button{
        --color: var(--componentColor);
        background-color: transparent;
        border:0;
        padding: 0;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        mat-icon{
            width: 35px;
            height: 35px;
            font-size: 35px;
            scale: 1.4;
        }
    }
}