<div class="dots array-container"></div>
<form class="sign" name="form" (ngSubmit)="onSubmit()">
  <img src="favicon.ico" alt="logo" class="logo"/>
  <h1>Cadastrar</h1>
  <label for="email">EMAIL</label>
  <input class="input" type="email" id="email" name="email" [(ngModel)]="email" required email placeholder="emailexemplo@gmail.com"/>
  
  <label for="email">NOME</label>
  <input class="input" type="text" id="name" name="name" [(ngModel)]="name" required placeholder="Exemplo da Silva"/>

  <div class="divisao">
    <div>
      <label for="phone">TELEFONE</label>
      <input class="input" type="text" id="phone" name="phone" mask="(00) 00000-0000" [(ngModel)]="phone" required placeholder="(13)99999-9999"/>
    </div>
    <div>
    <label for="cpf">CPF</label>
      <input class="input" mask="000.000.000-00" type="text" id="cpf" name="cpf" [(ngModel)]="cpf" required placeholder="000.000.000-00"/>
    </div>
  </div>
  <label for="password">SENHA</label>
  <input class="input" type="password" name="password" id="password" [(ngModel)]="password" required placeholder="senhaexemplo123"/>

  <label for="password">CONFIRMAR SENHA</label>
  <input class="input" type="password" name="confirmPassword" id="confirmPassword" [(ngModel)]="confirmPassword" required />

  <button type="submit" [disabled]="!isFormValid()" class="button">ENTRAR</button>


  <p class="link">Já tem uma conta? Faça Login <a (click)="goTo('login')">AQUI</a></p>
</form>
<div #container class="grid array-container">
  @for (row of rows; track $index) {
    <div class="row">
      @for (col of cols; track $index) {
        <div class="element"></div>
      }
    </div>
  }
</div>
