:host{
  display: flex;
  justify-content: start;
}
.divisao{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.divisao div{
    display: grid;
    gap: 5px;
}

.sign{
  box-shadow: 10px 20px 100px #000;
  view-transition-name: slide;
}
.dots{
  view-transition-name: dots;
  width: 50%;
  height: 100vh;
  position:fixed;
  transform: translateX(-100%);
}
.grid{view-transition-name: grid;}
.row , .array-container{
  gap: 2px;
}

::view-transition-old(*),
::view-transition-new(*) {
  animation-duration: 3s;
}