@use '@angular/material' as mat;
*{
    font-size: 13px;
}
.comparison{
    span{
        padding: 10px;
        font-size: 16px;
    }
    hr{
        flex-grow:2;
        border-color:var(--green);
    }
}
.info{
    display: flex;
    gap: 10px;
    mat-icon{
        width: 60px;
        height: 60px;
        font-size: 60px;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--grey-background);
    }

    .description{
        h1{
            font-size: 24px;
            margin: 0;
            padding: 0;
        }
        p{
            margin: 0;
        }
        flex-direction: column;
        display: flex;
        width: 150px;
    }
}
.type{
    padding: 10px 0;
}

details section{
    display: flex;
    flex-direction: column;
    .data{
        color: color-mix(in srgb,var(--font-color)70%,transparent);
    }
    > span {
        display: flex;
        justify-content: space-between;
    }
}

.green, .green::ng-deep *{
    color: var(--green);
}

summary{
    text-align: center;
    direction: rtl;
    cursor: pointer;
}

::ng-deep .cents{
    font-size: 10px;
}
.small-box{
    @include mat.button-overrides((
            text-container-shape: 20px,
            text-ripple-color: black,
    ));
    .buttons{
        display: flex;
        justify-content: space-between;

        ::ng-deep button{
            width: 48%;
            * {
                font-size: 14px !important;
                --mat-sys-primary: var(--color) !important;
            }
        }
        .gains{--color:var(--green);}
        .losts{--color:var(--red);}
    }
}