.new-credit-card, form{
    position: relative;
    height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.box{
    box-sizing: border-box;
    padding: 20px;
}

@media (min-width:570px) {
    form{
        grid-template-columns: 1fr 1fr;
        > button {grid-column: span 2;}
    }
}
@media (min-width:850px) {
    .box{
        width: auto;
        gap: 50px 40px;
    }
}
@media (max-width:570px) {
    form{
        grid-template-columns: 1fr;
        > button {grid-column: span 1;}
    }
}

form{
    padding: 50px 40px !important;
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 20px 40px;
    box-shadow: 0 10px 20px 0 #000;
    > div {width: 100%;}
}

.back{
    background-color: var(--principal-color);
    color: var(--reverse-color);
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 4px;
    transition: 0.2s;
    &:hover{
        scale: 1.1;
        transition: 0.4s;
    }
}

img{
    max-width: 50px;
}



::ng-deep .mat-mdc-option {
  color: white !important;
  background-color: #1a1a1a !important;

  padding: 2px 10px !important;
  width: 100%;

  &:hover {
    background-color: #322f2f !important;
  }
  .mdc-list-item__primary-text{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

::ng-deep div.mat-mdc-select-panel {
  background-color: #1a1a1a !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: #101010 !important;
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
              0px 2px 2px rgba(0, 0, 0, 0.14),
              0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  overflow-x: hidden !important;
  &::-webkit-scrollbar{
      background: #0000;
      width: 7px;
  }
  &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: #424242;
      &:hover{
          background: #626262;
      }
  }
}

mat-select{
  width: 100%;
  box-sizing: border-box;
  ::ng-deep .mat-mdc-select-placeholder{
    color: var(--placeholder);
  }
}