:host{
    width: 100%;
    height: 100%;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex: 0;
}

.small-box{
    width: 30%;
    min-width: 300px;
    gap: 20px;
    padding: 20px;
    align-items: center;
    .input{
        background-color: var(--gray-form);
    }
}

.initialMessage{
    gap: 10px;

    h1{
        font-family: ABeeZee;
        font-size: 34px;
    }
    
    h2{
        font-size: 20px;
    }
    margin-bottom: 30px;
}

section{width: 100%;}

::ng-deep .mat-mdc-option {
  color: white !important;
  background-color: #1a1a1a !important;

  padding: 2px 10px !important;
  width: 100%;

  &:hover {
    background-color: #322f2f !important;
  }
}

::ng-deep div.mat-mdc-select-panel {
  background-color: #1a1a1a !important;
}

::ng-deep .mat-mdc-select-panel {
  background-color: #101010 !important;
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2),
              0px 2px 2px rgba(0, 0, 0, 0.14),
              0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  overflow-x: hidden !important;
  &::-webkit-scrollbar{
      background: #0000;
      width: 7px;
  }
  &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: #424242;
      &:hover{
          background: #626262;
      }
  }
}

mat-select{
  width: 100%;
  box-sizing: border-box;
}