footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #3f3f3f
}
@media (max-width: 599px) {
    .sidemenu{
        top: 56px !important;
    }
}
.sidemenu{
    background-color: #3f3f3f;
    margin-right: 90%;
    max-width: 50vw;
    width: 360px;
    min-width: 140px;
    height: 100%;
    position: fixed;
    top:64px;
    border-radius: 0;
}

.center {
    position: fixed;
}

.container {
    background-color: #00000000;
}

*{
    --mdc-list-list-item-label-text-color: white;
    --mat-sys-on-surface: #cbe957;
    --mat-sys-corner-full: 0;
}

matsidenav{
    background-color: #666565;
}
