<mat-sidenav-container class="container">
  
    <!-- Menu Lateral -->
    <mat-sidenav class="sidemenu" #sidenav mode="side" opened="false">
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.close()">Home</a>
        <a mat-list-item (click)="sidenav.close()">Perfil</a>
        <a mat-list-item (click)="sidenav.close()">Configurações</a>
      </mat-nav-list>
    </mat-sidenav>
 
    <div></div>

    <!-- Conteúdo principal -->
    <mat-sidenav-content>
  
      <header>
        <app-tool-bar [sidenav]="sidenav"></app-tool-bar>  <!-- Passa o sidenav para o componente -->
      </header>
  
      <main class="centro">
        <h1>Body of the page</h1>
      </main>
  
      <footer>
        <p>Distribuido por Toasty Tech LTDA</p>
      </footer>
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  