<mat-sidenav-container class="container">
  
    <!-- Menu Lateral -->
    <mat-sidenav class="sidemenu" #sidenav mode="over" opened="false">
      <mat-nav-list>
        <div class="menu">
          <a mat-list-item (click)="redirectToPath('/home')">Home</a>
          <a mat-list-item (click)="redirectToPath('/home/account')">Conta</a>
          <a mat-list-item (click)="redirectToPath('/home/transactions')">Extrato</a>
          <a mat-list-item (click)="redirectToPath('/home/IA')">Zezinho IA <mat-icon>android</mat-icon></a>
          <a mat-list-item (click)="redirectToPath('/home/creditCard')">Cartão de Crédito</a>
          <a mat-list-item (click)="redirectToPath('/home/dev')">Desenvolvedores</a>
          <a mat-list-item (click)="redirectToPath('/login')">Logout</a>
        </div>

          
      </mat-nav-list>
    </mat-sidenav>
 
    <div></div>

    <!-- Conteúdo principal -->

    <mat-sidenav-content>
  
      <header>
        <app-tool-bar [sidenav]="sidenav"></app-tool-bar>
      </header>
  
      <main class="centro">
        <router-outlet></router-outlet>
      </main>   
  
    </mat-sidenav-content>
  
  </mat-sidenav-container>
  