.categories{
    mat-select{
        width: 60%;
        flex-grow: 1;
        align-self: flex-start;
    }
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


::ng-deep .mat-mdc-option {
  color: var(--font-color) !important;

  padding: 2px 10px !important;
  width: 100%;

  background-color: var(--grey-background) !important;

  &:hover {
    background-color: var(--gray-form) !important;
  }
}

::ng-deep .mat-mdc-select-panel{
  background-color: var(--grey-background) !important;
  overflow-x: hidden !important;
  
  &::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: var(--input-area);
      &:hover{
          background: var(--input-area2);
      }
  }
}

mat-select{
  width: 100%;
  box-sizing: border-box;
}