@use '@angular/material' as mat;
:host{
    width: 100%;
    --mat-expansion-header-collapsed-state-height: 60px;
}
:root {
  @include mat.expansion-overrides((
    container-shape: 20px 20px,
  ));
}
*{
  --mat-sys-surface: var(--gray-transaction);
}
button:not(.tools button){
  background-color: #0000;
  border: 0;
  border-radius: 100%;
  padding: 0;
  width: 24px;
  height: 24px;
}

mat-panel-title{
  flex-grow: 0;
}

h1{
  font-size: large;
  margin: 0;
}

.date{
  font-size: medium;
}

.entrada{
  color: var(--principal-color);
}
.saida{
  color: var(--red);
}
.file{
  rotate: 45deg;
}

mat-expansion-panel-header{
  padding: 0 8px;
}
mat-expansion-panel{
  box-shadow: unset !important;
  border-bottom: solid 2px var(--grey-background);
  border-radius: 0;
}
mat-panel-description{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}