@use '@angular/material' as mat;
:host{
    width: 100%;
    --mat-expansion-header-collapsed-state-height: 60px;
}
:root {
  @include mat.expansion-overrides((
    container-shape: 20px 20px,
  ));
}
button{
  background-color: #0000;
  border: 0;
  border-radius: 100%;
  padding: 0;
  width: 24px;
  height: 24px;
}

hr{
    border: solid var(--grey-background);
}

mat-panel-title{
  flex-grow: 0;
}

h1{
  font-size: large;
  margin: 0;
}

.date{
  font-size: medium;
}
