/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@font-face {
    font-family: Ruda;
    src: url(/fonts/Ruda-VariableFont_wght.ttf);
  }
@font-face {
font-family: League-Spartan;
src: url(/fonts/LeagueSpartan-VariableFont_wght.ttf);
font-weight: bold;
}
@font-face {
font-family: Contrail-One;
src: url(/fonts/ContrailOne-Regular.ttf);
}
@font-face {
font-family: TT-Berlinerins;
src: url("/fonts/TT Berlinerins Trial Grotesk.otf");
}
@font-face {
    font-family: Dosis;
    src: url(/fonts/Dosis-VariableFont_wght.ttf);
}


@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-ExtraLight.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-ExtraLightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Regular.ttf);
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-MediumItalic.ttf);
    font-weight: 500;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: ABeeZee;
    src: url(/fonts/ABeeZee/ABeeZee-Regular.ttf);
}
@font-face {
    font-family: ABeeZee;
    src: url(/fonts/ABeeZee/ABeeZee-Regular.ttf);
    font-style: italic;
}


.body {
    background-color:var(--grey-background); 
}
.centro{
    flex-direction: column; 
    display: flex;
    align-items: center;
    height: 100%;
}

@media (orientation: portrait){
    *{
        --topsize: 25px;
        --headersize: 56px;
    }
    
  .array-container{display: none !important;}
  .sign{
    width: 100% !important;
    min-height: 100vh;
    height: 100% !important;
    .logo{
        width: 70px;
        margin: 20px 0;
    }
    .google{
      font-size: 16px;
      img{height: 20px !important;}
    }
    .link{font-size: 16px;}
  }
}

@media (orientation: landscape){
    *{
        --topsize: 45px;
        --headersize: 64px;
    }
}

.mat-sidenav-container{
    height: calc(100vh - var(--headersize));
    position: relative;
    top: var(--headersize);
}
*{
    --principal-color: #181824;
    --grey-background: #E4EDFD;
    --gray: #EBF2FF66;
    --gray-form: hsl(222, 39%, 87%);
    --gray-box: #eaedf2;
    --gray-font: #7A7AA7;
    --placeholder: #464647;
    --input-area: #d4d4ee;
    --input-area2: #afafc6;
    --green: #9DBE1F;
    --red: #B83226;
    --white: #f0f8ff;
    --black: #181824;
    --blue: #3060B0;
    --magenta: #cb6ce6;
    --yellow: #ffde59;
    --mat-sys-primary: var(--principal-color);
    --mat-sys-surface: var(--gray-form);
    --mat-sys-on-surface: var(--principal-color);
    --mat-sys-on-surface-variant: currentColor;
    --mat-sys-surface-variant: var(--input-area2);
    --mat-fab-foreground-color: black;
    --mat-select-panel-background-color: var(--input-area);
    --mat-option-selected-state-layer-color: var(--input-area);
    --mat-datepicker-calendar-container-background-color: var(--gray-form);
    --reverse-color: var(--white);
    --font-color: var(--black);
    color:  var(--color, var(--font-color));
    font-family: var(--font, KoHo);
    &::-webkit-scrollbar{
        background: #0000;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #c6d0d7;
        &:hover{
            background: #b5bec9;
        }
    }
}
.dark, .dark *{
    --black: #171722;
    --green: #cbe957;
    --red: #D35348;
    --blue: #4285F4;
    --principal-color: var(--green);
    --grey-background: #181824;
    --gray: #EBF2FF66;
    --gray-form: #111119;
    --gray-box: #282838;
    --gray-font: #7A7AA7;
    --placeholder: #464647;
    --input-area: #232334;
    --input-area2: #373760;
    --reverse-color: var(--black);
    --font-color: var(--white);
    color:  var(--color, var(--font-color));
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: #424242;
        &:hover{
            background: #626262;
        }
    }
}

.form, .mat-mdc-dialog-surface{
    background-color: var(--gray-form);
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px var(--green),
    0 10px 0 5px var(--green),
    0 -2px 0 5px var(--green),
    0 10px 35px 0 rgba(from var(--green) r g b / 0.22),
    0 10px 35px 0 rgba(from var(--green) r g b / 0.22);
    justify-self: center ;
}
.form, .content{
    font-size: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}

.mat-mdc-select-panel{
    padding: 0 !important;
}

.light{
    position: relative;
    width: 70%;
    height: 5px;
    background-image: radial-gradient(var(--principal-color), #00000000 70%);
}
h1{
    margin-bottom: 0;
    --font: League-Spartan;
}
h2{
    font-family: Dosis;
    font-weight: normal;
}
label:not(.mdc-floating-label){
    align-self: flex-start;
    position: relative;
    margin-top: 15px;
    font-size: 22px;
    font-family: League-Spartan;
}
a{
    cursor: pointer;
}

.animation{
    position: relative;
    .input{
        & + label{
            top: -6px;
            left: 6px;
            align-self: center;
            position: absolute;
            transition: .3s ease-in-out;
        }
        &:focus + label, &:not(input:placeholder-shown) + label{
            padding: 0 2px;
            top: -25px;
            font-size: 90%;
            transition: .2s ease-in-out;
        }
        &:focus{
            outline:0;
        }
    }
}

.sign{
  width: 30%;
  height: 100vh;
  align-self: end;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 0 10%;
    h1{font-weight:normal; font-family: KoHo;margin: 0;}
}

.array-container{
  z-index: -1;
  padding: 10px;
  height: calc(100vh - 20px);
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .row{
    display: flex;
    gap: 10px;
    flex: none;
  }
  .element{
    width: 30px;
    aspect-ratio: 1 / 1;
    background-color: var(--principal-color);
  }
}

.box{
    margin-bottom: 10px;
    width: 90vw;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--gray-form);
}

.small-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    background-color: var(--gray-form);
    .dark &{
        background-color: var(--gray-box);
    }
    border-radius: 10px;
    padding: 12px 8px 20px 15px;
    box-shadow: 0 5px 10px -4px #000;
    
    &.dark{
        background-color: var(--gray-box);
    }

    > h2{
        font-family: KoHo;
        font-size: 16px;
        flex-shrink: 0;
        margin: 0;
        margin-right: 5px;
    }

    > h1{
        font-family: KoHo;
        font-size: 30px;
        font-weight: normal;
        margin-top: 5px;
        border-left: 3px solid var(--small-box-color);
        color: var(--small-box-color);
        padding-left: 7px;
    }

    > div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    *{
        font-size: 18px;
    }

    > mat-icon{
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 0;
        background: 0;
    }
}

.divisao{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.gains{
    mat-icon{
        color: var(--green);
        rotate: -90deg;
    }
}
.losts{
    mat-icon{
        color: var(--red);
        rotate: 90deg;
    }
}


.input {
    background-color: var(--input-area);
    font-size: 16px;
    font-family: Ruda;
    border-width: 0;
    border-radius: 4px;
    padding: 6px;
    width: calc(100% - 12px);

    &::placeholder{
        color: var(--placeholder);
    }
}
.button{
    color: black;
    background-color: var(--green);
    border: 2px solid #0000;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 20px;
    margin: 10px 0;
    font-family: TT-Berlinerins;
    box-shadow: 0 0 5px var(--green);
    transition: 0.2s;
    &:hover:not(:disabled){
        scale: 1.1;
        transition: 0.3s;
        cursor:pointer;
    }
    &:disabled{
        color: rgb(58, 53, 83);
        background-color: rgba(0,0,0,0);
        border: 2px solid;
        box-shadow: 0 0 0 #000;
    }
}
.link{
    width: 100%;
    text-align: center;
    font-family: KoHo;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid var(--green);
    background-color: var(--input-area);
    padding:10px 3px;
    a{
        font-family: KoHo;
        color: var(--green);
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.logo{
    width: 85px;
    margin: 50px 0 30px;
}
html, body, .body { height: 100%; }
body, .body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.name{
    display: flex;
    align-items: center;
    width: 100%;
    img{
        width: 50px;
        height: 50px;
    }
    h3{
        margin: 0;
        flex-grow: 1;
    }
}
.cardContent{
    display: flex;
    width: 100%;
    direction: column;
    flex-wrap: wrap;
    *{font-family: Dosis;}
    p{margin-top: 0;}
    div:not(mat-progress-bar div){
        display: flex;
        justify-content: space-between;
        width: 100%;
        span{color: var(--red); flex-grow: 1; text-align: end;}
    }
}

.card{
    font-family: league-spartan;
    box-shadow: 0 10px 10px -6px #000;
}
.title{
    color: var(--principal-color);
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    &::after{
        content: "";
        height: 2px;
        width: 80%;
        background-color: var(--principal-color);
        position: absolute;
        left: 10%;
        bottom: -50%;
    }
}

.cardAdd{
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    color: var(--input-area2); 
    mat-icon{
        min-width: 100px;
        min-height: 100px;
        font-size: 100px;
    }
    h2{
        transition: 0.3s;
        color: var(--input-area2);
        text-align: center;
    }
    &:hover{
        transition: 0.5s;
        color: var(--color);
        h2{
        transition: 0.5s;
            color: var(--color);
        }
    }
}

.mini-box{
    color: var(--black);
    font-family: Dosis;
    font-weight: bold;
    font-size: large;
    text-align: center;
        span, option{
            color: var(--black);
            font-family: Dosis;
            font-weight: bold;
            font-size: large;
        }
    background-color: var(--principal-color);
    width: 120px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools{
  display: flex;
  justify-self: flex-end;

  button{
    background-color: var(--input-area2);
    width: 34px;
    height: 34px;
    margin: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 0;
    border-radius: 100%;
    padding: 0;
  }
}

.category-icon{
    color: var(--white);
    background-color: #470688;
    width: 30px !important;
    height: 30px !important;
    font-size: 30px;
    padding: 8px;
    margin: 4px;
    border-radius: 10px;
}


mat-progress-bar{
    border-radius: 20px;
    overflow: hidden;
    &::after{
        content: ""attr(data) "%";
        height: 18px;
        width: 30px;
        position: absolute;
        text-shadow: 1px 0 5px var(--reverse-color);
        right: 10px;
    }
}
@include mat.progress-bar-overrides((
active-indicator-height:20px,
track-height: 20px,
track-shape: 20px,
));