/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@font-face {
    font-family: Ruda;
    src: url(/fonts/Ruda-VariableFont_wght.ttf);
  }
@font-face {
font-family: League-Spartan;
src: url(/fonts/LeagueSpartan-VariableFont_wght.ttf);
font-weight: bold;
}
@font-face {
font-family: Contrail-One;
src: url(/fonts/ContrailOne-Regular.ttf);
}
@font-face {
font-family: TT-Berlinerins;
src: url("/fonts/TT Berlinerins Trial Grotesk.otf");
}
@font-face {
    font-family: Dosis;
    src: url(/fonts/Dosis-VariableFont_wght.ttf);
}


@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-ExtraLight.ttf);
    font-weight: lighter;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-ExtraLightItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Regular.ttf);
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-MediumItalic.ttf);
    font-weight: 500;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-SemiBoldItalic.ttf);
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: KoHo;
    src: url(/fonts/KoHo/KoHo-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}


body {
    background-color:var(--grey-background); 
}
.centro{
    flex-direction: column; 
    display: flex;
    align-items: center;
    padding-top: var(--topsize);
    height: calc(100% - var(--topsize));
}

@media (orientation: portrait){
    *{
        --topsize: 25px;
        --headersize: 56px;
    }
}

@media (orientation: landscape){
    *{
        --topsize: 45px;
        --headersize: 64px;
    }
}

.mat-sidenav-container{
    height: calc(100vh - var(--headersize));
    position: relative;
    top: var(--headersize);
}
*{
    --gradient2:linear-gradient(var(--principal-color), var(--grey-background));
    --gradient: linear-gradient( var(--grey-background) 10%, color-mix(in srgb, var(--principal-color), var(--grey-background) 80%)  50%, var(--grey-background) 90%);
    --principal-color: #cbe957;
    --grey-background: #181824;
    --gray-form: #111119;
    --gray-transaction: color-mix(in hsl, var(--gray-form)80%, #000);
    --placeholder: #464647;
    --input-area: #232334;
    --input-area2: #373760;
    --red: #ff5757;
    --white: #f0f8ff;
    --black: #171722;
    --blue: #38b6ff;
    --magenta: #cb6ce6;
    --yellow: #ffde59;
    --mat-sys-primary: var(--principal-color);
    --mat-sys-surface: var(--gray-form);
    --mat-sys-on-surface: var(--white);
    --mat-sys-on-surface-variant: var(--white);
    --mat-sys-surface-variant: var(--input-area2);
    --mat-fab-foreground-color: black;
    color:  var(--color, var(--white));
    font-family: var(--font, Arial, Helvetica, sans-serif);
}
.form, .mat-mdc-dialog-surface{
    background-color: var(--gray-form);
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px var(--principal-color),
    0 10px 0 5px var(--principal-color),
    0 -2px 0 5px var(--principal-color),
    0 10px 35px 0 rgba(from var(--principal-color) r g b / 0.22),
    0 10px 35px 0 rgba(from var(--principal-color) r g b / 0.22);
    justify-self: center ;
}
.form, .content{
    font-size: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}


.light{
    position: relative;
    width: 70%;
    height: 5px;
    background-image: radial-gradient(var(--principal-color), #00000000 70%);
}
h1{
    margin-bottom: 0;
    --font: League-Spartan;
}
h2{
    font-family: Dosis;
    font-weight: normal;
}
label{
    align-self: flex-start;
    position: relative;
    margin-top: 15px;
    font-size: 22px;
    font-family: League-Spartan;
}
a{
    cursor: pointer;
}

.animation{
    position: relative;
    .input{
        & + label{
            top: -6px;
            left: 6px;
            align-self: center;
            position: absolute;
            transition: .3s ease-in-out;
        }
        &:focus + label, &:not(input:placeholder-shown) + .label{
            padding: 0 2px;
            top: -25px;
            font-size: 90%;
            transition: .2s ease-in-out;
        }
        &:focus{
            outline:0;
        }
    }
}

.sign{
  width: 30%;
  height: 100vh;
  align-self: end;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding: 0 10%;
    h1{font-weight:normal; font-family: KoHo;margin: 0;}
}

.box{
    margin-bottom: 10px;
    width: 90vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    padding: 10px;
    background-color: var(--gray-form);
}

.small-box{
    margin: 0;
    height: auto;
    width: auto;
    padding: 0 0 0 5px;

    
    h2{
        margin: 0
    }

    h1{
        font-size: 20px;
        margin-top: 5px;
    }

    *{
        font-size: 18px;
        color: var(--white);
    }

    mat-icon{
        width: 20px;
        height: 20px;
        font-size: 20px;
        padding: 0;
        background: 0;
    }
}

.gains{
    mat-icon{
        color: var(--principal-color);
        rotate: -90deg;
    }
}
.losts{
    mat-icon{
        color: var(--red);
        rotate: 90deg;
    }
}


.input {
    background-color: var(--input-area);
    font-size: 16px;
    font-family: Ruda;
    border-width: 0;
    border-radius: 4px;
    padding: 6px;
    width: calc(100% - 12px);

    &::placeholder{
        color: var(--placeholder);
    }
}
.button{
    color: black;
    background-color: var(--principal-color);
    border: 2px solid #0000;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 20px;
    margin: 10px 0;
    font-family: TT-Berlinerins;
    box-shadow: 0 0 5px var(--principal-color);
    transition: 0.2s;
    &:hover:not(:disabled){
        scale: 1.1;
        transition: 0.3s;
        cursor:pointer;
    }
    &:disabled{
        color: rgb(58, 53, 83);
        background-color: rgba(0,0,0,0);
        border: 2px solid;
        box-shadow: 0 0 0 #000;
    }
}
.link{
    width: 100%;
    text-align: center;
    font-family: KoHo;
    font-size: 20px;
    border-radius: 4px;
    border: 2px solid var(--principal-color);
    background-color: var(--input-area);
    padding:10px 3px;
    a{
        font-family: KoHo;
        color: var(--principal-color);
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.logo{
    width: 85px;
    margin: 50px 0 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.name{
    display: flex;
    align-items: center;
    width: 100%;
    img{
        width: 50px;
        height: 50px;
    }
    h3{
        margin: 0;
        flex-grow: 1;
    }
}
.cardContent{
    display: flex;
    width: 100%;
    direction: column;
    flex-wrap: wrap;
    *{font-family: Dosis;}
    p{margin-top: 0;}
    div:not(mat-progress-bar div){
        display: flex;
        justify-content: space-between;
        width: 100%;
        span{color: var(--red); flex-grow: 1; text-align: end;}
    }
}

.card{
    font-family: league-spartan;
    box-shadow: 0 20px 20px -12px #000;
}
.title{
    color: var(--principal-color);
    display: inline-block;
    text-align: center;
    position: relative;
    margin-top: 0;
    margin-bottom: 30px;
    &::after{
        content: "";
        height: 2px;
        width: 80%;
        background-color: var(--principal-color);
        position: absolute;
        left: 10%;
        bottom: -50%;
    }
}

.cardAdd{
    flex-direction: column;
    align-items: center;
    color: var(--input-area2);
    mat-icon{
        min-width: 100px;
        min-height: 100px;
        font-size: 100px;
    }
    h2{
        color: var(--input-area2);
        text-align: center;
    }
}

.mini-box{
    color: var(--black);
    font-family: Dosis;
    font-weight: bold;
    font-size: large;
    text-align: center;
        span, option{
            color: var(--black);
            font-family: Dosis;
            font-weight: bold;
            font-size: large;
        }
    background-color: var(--principal-color);
    width: 120px;
    height: 35px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-selector{
    background-color: #0000 !important;
    width: 100%;
    display: flex;
    justify-content: center;
    button{
        color: var(--principal-color);
        background-color: #0000;
        border:0;
        padding: 0;
        mat-icon{
            width: 35px;
            height: 35px;
            font-size: 35px;
            scale: 1.4;
        }
    }
    &.all{
        .mini-box{
            background-color: var(--white);
        }
        button{
            color: var(--white);
        }
    }

    &.revenue{
        .mini-box{
            background-color: var(--principal-color);
        }
        button{
            color: var(--principal-color);
        }
    }

    &.expense{
        .mini-box{
            background-color: var(--red);
        }
        button{
            color: var(--red);
        }
    }
}

.tools{
  display: flex;
  justify-self: flex-end;

  & button{
    background-color: var(--input-area);
    width: 34px;
    height: 34px;
    margin: 4px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 0;
    border-radius: 100%;
    padding: 0;
  }
}

.category-icon{
    background-color: #470688;
    width: 34px !important;
    height: 34px !important;
    font-size: 34px;
    padding: 2px;
    margin: 4px;
    border-radius: 100%;
}


mat-progress-bar{
    border-radius: 20px;
    overflow: hidden;
    &::after{
        content: ""attr(data) "%";
        height: 18px;
        width: 30px;
        position: absolute;
        color: var(--white);
        text-shadow: 1px 0 5px #000;
        right: 10px;
    }
}
@include mat.progress-bar-overrides((
active-indicator-height:20px,
track-height: 20px,
track-shape: 20px,
));