/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Ruda;
    src: url(../public/fonts/Ruda-VariableFont_wght.ttf);
  }
@font-face {
font-family: League-Spartan;
src: url(../public/fonts/LeagueSpartan-VariableFont_wght.ttf);
font-weight: bold;
}
@font-face {
font-family: Contrail-One;
src: url(../public/fonts/ContrailOne-Regular.ttf);
}
@font-face {
font-family: TT-Berlinerins;
src: url("../public/fonts/TT Berlinerins Trial Grotesk.otf");
}
@font-face {
    font-family: Dosis;
    src: url(../public/fonts/Dosis-VariableFont_wght.ttf);
}
body {
    background-color:var(--grey-blackground); 
}
.centro{
    flex-direction: column; 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: calc(100vh - 16px);
}
*{
    --gradient2:linear-gradient(var(--principal-color), var(--grey-blackground));
    --gradient: linear-gradient( var(--grey-blackground) 10%, color-mix(in srgb, var(--principal-color), var(--grey-blackground) 80%)  50%, var(--grey-blackground) 90%);
    --principal-color: #cbe957;
    --grey-blackground: #161616;
    --gray-form: #202020;
    --placeholder: #474646;
    --input-area: #303030;
    --red: #ff5757;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.form, .mat-mdc-dialog-surface{
    background-color: var(--gray-form) !important;
    width: 300px !important;
    border-radius: 5px !important;
    box-shadow: 0 0 0 5px var(--principal-color),
    0 10px 0 5px var(--principal-color),
    0 -2px 0 5px var(--principal-color),
    0 10px 35px 0 rgba(from var(--principal-color) r g b / 0.22),
    0 10px 35px 0 rgba(from var(--principal-color) r g b / 0.22) !important;
    justify-self: center !important;
}
.form, .content{
    font-size: 20px;
    display: flex !important;
    flex-direction: column !important; 
    justify-content: center!important; 
    align-items: center !important; 
    padding: 10px !important;
}
@media (orientation: landscape) {
    .form, .content{
        font-size: 15px;
    }
    label{
        font-size: 16.5px;
    }
    .input{
        font-size: 12px;
    }
  }
.light{
    position: relative;
    width: 70%;
    height: 5px;
    background-image: radial-gradient(var(--principal-color), #00000000 70%);
}
h1{
    margin-bottom: 0;
    font-family: League-Spartan;
}
h2{
    font-family: Dosis;
    font-weight: normal;
}
label{
    align-self: flex-start;
    position: relative;
    margin-top: 15px;
    font-size: 22px;
    font-family: League-Spartan;

}
.input {
    background-color: var(--input-area);
    font-size: 16px;
    font-family: Ruda;
    border-width: 0;
    border-radius: 4px;
    padding: 6px;
    width: calc(100% - 12px);
    &::placeholder{
        color: var(--placeholder);
    }    
}
.button{
    color: black;
    background-color: var(--principal-color);
    border: 0;
    border-radius: 4px;
    font-size: 20px;
    padding: 7px 20px;
    margin: 10px 0;
    font-family: TT-Berlinerins;
    box-shadow: 0 0 5px var(--principal-color);
    transition: 0.2s;
    &:hover:not(:disabled){
        scale: 1.1;
        transition: 0.3s;
        cursor:pointer;
    }
    &:disabled{
        color: rgb(97, 97, 97);
        background-color: rgba(0,0,0,0);
        border: 2px solid;
        border-radius: 4px;
        font-size: 20px;
        padding: 7px 20px;
        margin: 10px 0;
        box-shadow: 0 0 0 #000;
    }
}
.link{
    width: 100%;
    text-align: center;
    font-family: TT-Berlinerins;
    font-size: 20px;
    border-radius: 4px;
    border:0;
    background-color: var(--input-area);
    padding:10px 3px;
    a{
        font-family: TT-Berlinerins;
        color: var(--principal-color);
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}
.logo{
    width: 280px;
    margin-bottom: 40px;
}
.box{
    border-radius: 5px;
    padding: 10px;
    background-color: var(--gray-form);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

